@use '../../variables';
@use '../../mixins';

.inputSection {
  display: grid;
  grid-template-rows: 2em;
  grid-template-columns: max-content auto;
  align-items: center;

  padding: .75em 0;

  border-bottom: solid variables.$line-color 1px;
}

.inputSection > * {
  grid-row: 1;
}

.inputSection:not(.inputSection:last-child) {
  margin-bottom: 1em;
}

.icon {
  margin-right: 2em;
}

.input {
  @include mixins.unstyledInput;

  outline: none;

  display: inline-block;

  height: 100%;
}

// Increases specificity to override the border on ControlledInputs
label.noBorder {
  border: 0;
}