@use '../../mixins';

.folderDropdown {
  @include mixins.unstyledDropdown;
  @include mixins.clickable;

  display: block;

  // Have to do to keep dropdown lined up correctly with labels
  // due to how browsers render select elements
  margin-left: -3px;

  .option {
    padding: 0;
  }
}