@use '../../variables';
@use '../../mixins';
@use '../../generic-components/widgetMixins';

.input {
  @include mixins.unstyledInput;

  color: variables.$light-gray;

  width: 100%;

  padding: 0 .125em 0 .125em;
}

.input::placeholder {
  opacity: 1;
}

.input::selection {
  color: #fff;
}

.label {
  @include widgetMixins.labels;
}

.labelText {
  @include widgetMixins.labelTexts;
}