@use '../../variables';
@use '../../mixins';
@use '../../generic-components/widgetMixins';

.label {
  @include widgetMixins.labels;

  display: grid;
  grid-template-rows: auto 1fr;
}

.labelText {
  @include widgetMixins.labelTexts;
}

.dropdown,
.dropdownIcon {
  grid-row: 2;
  grid-column: 1;
}

.dropdown {
  @include mixins.unstyledInput;

  color: variables.$light-gray;

  display: block;

  .option {
    padding: 0;
  }
}

.dropdown select {
  // Have to do to keep dropdown lined up correctly with labels
  // due to how browsers render select elements
  margin-left: -3px;
}

.dropdownIcon {
  // Lets you click the dropdown through the icon
  pointer-events: none;

  margin-left: auto;
}