.layout {
  position: fixed;
  z-index: 1;

  display: grid;
  $sidePadding: 1.25em;
  grid-template-columns: minmax($sidePadding, 1fr) minmax(278px, 405px) minmax($sidePadding, 1fr);

  overflow-y: auto;

  width: 100%;
  min-height: 100vh;
  max-height: 100vh;

  padding: 2em 0;

  background: #f8f8fb;
}

.content {
  grid-column: 2 / -2;
}