.layout {
  position: fixed;
  z-index: 1;

  display: grid;
  $sidePadding: 2em;
  grid-template-columns: minmax($sidePadding, 1fr) auto minmax($sidePadding, 1fr);

  width: 100%;
  min-height: 100vh;

  padding: 2em 0;

  background: #f8f8fb;
}

.content {
  grid-column: 2 / -2;
}

@mixin addRecipeTitles {
  padding-left: .25em;
}

@mixin addRecipeLabels {
  text-transform: uppercase;

  grid-column: span 2;
}