@use '../variables';
@use '../mixins';

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: .75em 1.75em;
}

.logo {
  margin-bottom: .85em;
}

.heading {
  @include mixins.thinHeading;

  font-size: 1.55rem;
}

.forms {
  width: 100%;

  margin-bottom: 2.5em;
}

.loginBtn {
  width: 100%;

  margin-bottom: 1em;
}

.loginText {
  $scale: 1;
  font-size: $scale * 0.95rem;
  font-weight: 600;
  text-transform: uppercase;

  padding: $scale * 1.125em $scale * 4.75em;
  margin: 0;
}

.footerText {
  font-size: .84rem;
  font-weight: 500;

  .signupLink {
    color: variables.$accent-color;
  }
}