@use '../variables';

$exitMobileBreakpoint: 28.5em;
$largeScreenBreakpoints: (43.4375em, 53.75em, 60.75em, 79.375em, 104.125em);

.layout {
  display: grid;
  grid-template-rows: max-content auto;
  $sideSpacing: 1.5em;
  grid-template-columns: $sideSpacing auto $sideSpacing;

  padding: 1.25em 0;
}

.layout > * {
  grid-column: 2 / -2
}

@media (min-width: 42.5em) {
  .layout {
    $sideSpacing: 4em;
    grid-template-columns: $sideSpacing auto $sideSpacing;
  }
}