.layout > * {
  display: grid;
  grid-template-rows: max-content auto;
  $sideSpacing: 1.5em;
  grid-template-columns: $sideSpacing auto $sideSpacing;

  padding: 1.25em 0;
}

.layout > * > * {
  grid-column: 2 / -2
}