@use '../variables';
@use '../mixins';
@use '../colorThemes';

$hover-color: #df6e4a;
$active-color: #ad3d18;

.btn {
  @include mixins.unstyledButton;
  @include mixins.clickable;
  @include colorThemes.orange;

  font-family: variables.$font-stack;
  font-weight: 500;

  display: inline-block;

  border-radius: 50px;
}

.btn:focus,
.btn:hover {
  background: $hover-color;
}

.btn:active {
  background: $active-color;
}

.genericBtnText {
  $scale: 1;
  font-size: $scale * 0.95rem;
  font-weight: 600;
  text-transform: uppercase;

  padding: $scale * 1.125em $scale * 4.75em;
  margin: 0;
}