@use 'styles/variables';
@use '../mixins';

$hover-color: #df6e4a;
$active-color: #ad3d18;

.btn {
  @include mixins.unstyledButton;

  font-family: variables.$font-stack;
  color: #fff;

  cursor: pointer;

  background: variables.$accent-color;
  border-radius: 50px;
}

.btn:focus,
.btn:hover {
  background: $hover-color;
}

.btn:active {
  background: $active-color;
}