@use '../variables';

@mixin titles {
  padding-left: .35em;
}

@mixin labels {
  font-weight: 500;
  text-transform: uppercase;

  grid-column: span 2;

  padding-bottom: .4em;

  border-bottom: solid variables.$line-color 2px;
}

@mixin labelTexts {
  margin-top: 0;

  margin-bottom: .5em;
}