@use '../addRecipeMixins';
@use '../../../mixins';

.label {
  @include addRecipeMixins.labels;

  display: grid;
  grid-template-rows: auto 1fr;
}

.labelText {
  @include addRecipeMixins.labelTexts;
}

.folderDropdown,
.dropdownIcon {
  grid-row: 2;
  grid-column: 1;
}

.dropdownIcon {
  // Lets you click the dropdown through the icon
  pointer-events: none;

  margin-left: auto;
}