.timeInputContainer {
  grid-column: span 2;

  display: grid;
  grid-auto-columns: max-content 1fr;
  grid-column-gap: .75em;
  align-items: center;
}

.timeInputContainer > * {
  grid-row: 1;
}

.timeInputLabel {
  padding: 0;
}