.layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 1em;
}

.title {
  font-size: 1.5rem;
  color: #3e4348;

  margin: 0;
}

.closeBtn {
  composes: btnIcon from '../../../../styles/generic-components/ButtonIcon.module.scss';

  margin-top: .125em;
}