.layout {
  display: flex;
  flex-direction: column;
}

.splash {
  width: 100%;
  height: 30vh;
}

// Selects elements inside of the NextJS wrapper
.splash span {
  // Overrides the NextJS styling.
  height: 100% !important;
}

.splash img {
  object-fit: cover;
}

@media (min-width: 50em) {
  .layout {
    flex-direction: row;
  }

  .splash {
    width: 50vw;
  }

  .splash {
    min-height: 100vh;
  }
}