@use 'sass:list';
@use '../../mixins';
@use '../../homepage/Home.module';

.recipeCalculator {
  display: grid;

  position: absolute;
  top: 23em;
  left: 1.5em;
  right: 1.5em;

  max-width: 650px;

  padding: 1.85em 1.1em;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 15px -1px rgba(0, 0, 0, 0.1);
}

$recipeCalculatorBreakpoints: (57.125em, 62.5em);

@media (min-width: Home.$exitMobileBreakpoint) {
  .recipeCalculator {
    top: 25em;
    left: auto;
  }
}

@media (min-width: 31.5em) and (max-width: 34.9375em) {
  .recipeCalculator {
    top: 26em;
  }
}

@media (min-width: list.nth(Home.$largeScreenBreakpoints, 1)) {
  .recipeCalculator {
    right: 4em;
  }
}

@media (min-width: 48.75em) {
  .recipeCalculator {
    padding: 2.5em 2em;
  }
}

@media (min-width: list.nth(Home.$largeScreenBreakpoints, 2)) {
  .recipeCalculator {
    top: 30.5em;
  }
}

@media (min-width: list.nth($recipeCalculatorBreakpoints, 2)) {
  .recipeCalculator {
    width: 40vw;
  }
}

@media (min-width: list.nth(Home.$largeScreenBreakpoints, 4)) {
  .recipeCalculator {
    padding: 3.5em 2.5em;
  }
}

@media (min-width: list.nth(Home.$largeScreenBreakpoints, 5)) {
  .recipeCalculator {
    top: 36.6em;
  }
}

.title {
  @include mixins.thinHeading;
  font-size: .92rem;

  margin-top: 0;
  margin-bottom: 2em;
}

.searchFieldLayout {
  display: flex;
  align-items: center;
}

.recipeIcon {
  width: 24px;
}

.searchField {
  font-size: .88rem;

  width: 100%;
}

$modalText-firstGrowth: 22.5em;
$modalText-secondGrowth: 45.625em;

@media (min-width: $modalText-firstGrowth) {
  .title {
    font-size: 1rem;

    margin-bottom: 1.5em;
  }

  .recipeIcon {
    width: 30px;
  }

  .searchField {
    font-size: .9rem;
  }
}

@media (min-width: $modalText-secondGrowth) {
  .title {
    font-size: 1.23rem;

    margin-bottom: 1em;
  }

  .recipeIcon {
    width: 38px;
  }

  .searchField {
    font-size: 1rem;
  }
}

@media (min-width: list.nth(Home.$largeScreenBreakpoints, 4)) {
  .title {
    margin-bottom: 2em;
  }
}

@media (min-width: list.nth(Home.$largeScreenBreakpoints, 5)) {
  .title {
    font-size: 1.3rem;
  }
}