@use 'sass:list';
@use '../../variables';

.recipeCalculator {
  display: grid;

  position: absolute;
  top: 46vh;
  left: 1.5em;
  right: 1.5em;

  max-width: 609.6px;

  padding: 1.85em 1.1em;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 15px -1px rgba(0, 0, 0, 0.1);
}

$hideRecipeCalculator: 794px;

@media (max-width: 660px) and (max-height: $hideRecipeCalculator) {
  .recipeCalculator {
    display: none;
  }
}

@media (min-width: 362px) and (max-width: 392px) {
  .recipeCalculator {
    top: 48vh;
  }
}

@media (min-width: variables.$exitMobileBreakpoint) {
  .recipeCalculator {
    top: 49vh;
    left: auto;
  }
}

@media (min-width: 474px) and (max-width: 504px) {
  .recipeCalculator {
    top: 51vh;
  }
}

@media (min-width: 504px) and (max-width: 608px) {
  .recipeCalculator {
    top: 52vh
  }
}

@media (min-width: variables.$majorLargeScreenBreakpoint) {
  .recipeCalculator {
    right: 4em;

    padding: 2.5em 2em;
  }
}

@media (min-width: variables.$majorLargeScreenBreakpoint2) and (max-width: 914px) {
  .recipeCalculator {
    top: 62vh
  }
}

@media (min-width: 914px) {
  .recipeCalculator {
    top: 55vh
  }
}

@media (min-width: 1000px) {
  .recipeCalculator {
    width: 40vw;
  }
}

.title {
  font-size: .92rem;
  font-weight: 600;

  margin-top: 0;
  margin-bottom: 2em;
}

.searchFieldLayout {
  display: flex;
  align-items: center;
}

.recipeIcon {
  width: 24px;
}

.searchField {
  font-size: .88rem;

  width: 100%;
}

$modalText-firstGrowth: 360px;
$modalText-secondGrowth: 400px;

@media (min-width: $modalText-firstGrowth) {
  .title {
    font-size: 1rem;

    margin-bottom: 1.5em;
  }

  .recipeIcon {
    width: 30px;
  }

  .searchField {
    font-size: .9rem;
  }
}

@media (min-width: $modalText-secondGrowth) {
  .title {
    font-size: 1.23rem;

    margin-bottom: 1em;
  }

  .recipeIcon {
    width: 38px;
  }

  .searchField {
    font-size: 1rem;
  }
}