@use 'sass:list';
@use '../../variables';

.recipeCalculator {
  display: none;

  position: absolute;
  top: 50vh;
  left: 1.5em;
  right: 1.5em;

  // Change after mobile breakpoint
  //max-width: 269.55px;

  margin: 0 auto;
  padding: 1.85em 1.1em 2.5em 1.1em;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 15px -1px rgba(0, 0, 0, 0.1);
}

$showRecipeCalculator: 700px;

@media (min-height: $showRecipeCalculator) {
  .recipeCalculator {
    display: grid;
    align-items: center;
  }
}

$heroLayoutHiccup: 392px;

@media (width: $heroLayoutHiccup) {
  .recipeCalculator {
    top: 51vh;
  }
}

.title {
  font-size: .92rem;
  font-weight: 600;
  text-align: center;

  grid-column: span 2;

  margin-top: 0;
  margin-bottom: 2em;
}

$heroTitle-firstGrowth: 360px;
$heroTitle-secondGrowth: 400px;

@media (min-width: $heroTitle-firstGrowth) {
  .title {
    font-size: 1rem;
  }
}

@media (min-width: $heroTitle-secondGrowth) {
  .title {
    font-size: 1.23rem;
  }
}

.searchField {
  font-size: .88rem;
}