@use 'sass:list';
@use '../../variables';

.recipeCalculator {
  display: none;

  position: absolute;
  top: 50vh;
  left: 1.5em;
  right: 1.5em;

  margin: 0 auto;
  $sideSpace: 1.1em;
  padding: 1.85em $sideSpace 2.5em $sideSpace;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 15px -1px rgba(0, 0, 0, 0.1);
}

$showRecipeCalculator: 700px;

@media (min-height: $showRecipeCalculator) {
  .recipeCalculator {
    display: grid;
  }
}

$heroLayoutHiccup: 392px;

@media (width: $heroLayoutHiccup) {
  .recipeCalculator {
    top: 51vh;
  }
}

.title {
  font-size: .92rem;
  font-weight: 600;

  margin-top: 0;
  margin-bottom: 2em;
}

.searchFieldLayout {
  display: flex;
  align-items: center;
}

.recipeIcon {
  width: 24px;
}

.searchField {
  font-size: .88rem;

  width: 100%;
}

$modalText-firstGrowth: 360px;
$modalText-secondGrowth: 400px;

@media (min-width: $modalText-firstGrowth) {
  .title {
    font-size: 1rem;

    margin-bottom: 1.5em;
  }

  .recipeIcon {
    width: 30px;
  }

  .searchField {
    font-size: .9rem;
  }
}

@media (min-width: $modalText-secondGrowth) {
  .title {
    font-size: 1.23rem;

    margin-bottom: 1em;
  }

  .recipeIcon {
    width: 38px;
  }

  .searchField {
    font-size: 1rem;
  }
}