@use 'sass:list';
@use '../../variables';

.recipeCalculator {
  display: grid;

  position: absolute;
  top: 23em;
  left: 1.5em;
  right: 1.5em;

  max-width: 475px;

  padding: 1.85em 1.1em;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 15px -1px rgba(0, 0, 0, 0.1);
}

$hideRecipeCalculator: 794px;
$recipeCalculatorBreakpoints: (914px, 1000px, 1270px, 1666px);

@media (max-width: 660px) and (max-height: $hideRecipeCalculator) {
  .recipeCalculator {
    //display: none;
  }
}

@media (min-width: variables.$exitMobileBreakpoint) {
  .recipeCalculator {
    top: 25em;
    left: auto;
  }
}

@media (min-width: 504px) and (max-width: 559px) {
  .recipeCalculator {
    top: 26em;
  }
}

@media (min-width: variables.$majorLargeScreenBreakpoint) {
  .recipeCalculator {
    right: 4em;
  }
}

@media (min-width: 780px) {
  .recipeCalculator {
    padding: 2.5em 2em;
  }
}

@media (min-width: variables.$majorLargeScreenBreakpoint2) {
  .recipeCalculator {
    top: 30.5em;
  }
}

@media (min-width: list.nth($recipeCalculatorBreakpoints, 2)) {
  .recipeCalculator {
    width: 40vw;
  }
}

.title {
  font-size: .92rem;
  font-weight: 600;

  margin-top: 0;
  margin-bottom: 2em;
}

.searchFieldLayout {
  display: flex;
  align-items: center;
}

.recipeIcon {
  width: 24px;
}

.searchField {
  font-size: .88rem;

  width: 100%;
}

$modalText-firstGrowth: 360px;
$modalText-secondGrowth: 400px;

@media (min-width: $modalText-firstGrowth) {
  .title {
    font-size: 1rem;

    margin-bottom: 1.5em;
  }

  .recipeIcon {
    width: 30px;
  }

  .searchField {
    font-size: .9rem;
  }
}

@media (min-width: 730px) {
  .title {
    font-size: 1.23rem;

    margin-bottom: 1em;
  }

  .recipeIcon {
    width: 38px;
  }

  .searchField {
    font-size: 1rem;
  }
}