@use 'sass:list';
@use '../../variables';

.recipeCalculator {
  display: grid;

  position: absolute;
  top: 46vh;
  left: 1.5em;
  right: 1.5em;

  margin: 0 auto;
  $sideSpace: 1.1em;
  padding: 1.85em $sideSpace 2.5em $sideSpace;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 15px -1px rgba(0, 0, 0, 0.1);
}

$showRecipeCalculatorMobile: 700px;
$showRecipeCalculator: 779px;

@media (max-width: variables.$exitMobileBreakpoint) and (max-height: $showRecipeCalculatorMobile) {
  .recipeCalculator {
    display: none;
  }
}

@media (min-width: variables.$exitMobileBreakpoint) and (max-height: $showRecipeCalculator) {
  .recipeCalculator {
    display: none;
  }
}

@media (min-width: 362px) and (max-width: 392px) {
  .recipeCalculator {
    top: 47.2vh;
  }
}

@media (min-width: variables.$exitMobileBreakpoint) {
  .recipeCalculator {
    top: 49vh;
    left: auto;
    right: 4em;
  }
}

@media (min-width: 504px) and (max-width: 608px) {
  .recipeCalculator {
    top: 51.5vh
  }
}

.title {
  font-size: .92rem;
  font-weight: 600;

  margin-top: 0;
  margin-bottom: 2em;
}

.searchFieldLayout {
  display: flex;
  align-items: center;
}

.recipeIcon {
  width: 24px;
}

.searchField {
  font-size: .88rem;

  width: 100%;
}

$modalText-firstGrowth: 360px;
$modalText-secondGrowth: 400px;

@media (min-width: $modalText-firstGrowth) {
  .title {
    font-size: 1rem;

    margin-bottom: 1.5em;
  }

  .recipeIcon {
    width: 30px;
  }

  .searchField {
    font-size: .9rem;
  }
}

@media (min-width: $modalText-secondGrowth) {
  .title {
    font-size: 1.23rem;

    margin-bottom: 1em;
  }

  .recipeIcon {
    width: 38px;
  }

  .searchField {
    font-size: 1rem;
  }
}