@use '../../mixins';
@use 'HeroSection.module';

.signupBtn {
  font-size: inherit;

  display: none;

  background: none;
  border: solid 1px;
}

.signupBtn:focus,
.signupBtn:hover,
.signupBtn:active {
  background: none;
}

.signupText {
  @include mixins.dropShadowSmallText;
  font-weight: 600;

  margin: 0;
}