@use '../../mixins';

.heroBody {
  margin: 3.5em 0;
}

.heroTitle {
  @include mixins.dropShadowText;

  font-size: 1.85rem;
  font-weight: 600;
  line-height: 1.25;
  color: #fff;

  padding: 0 .3em;
  margin-bottom: 2.15rem;
}

$firstTitleBreakpoint: 338px;
$secondTitleBreakpoint: 362px;
$thirdTitleBreakpoint: 394px;
$fourthTitleBreakpoint: 456px;
@media (min-width: $firstTitleBreakpoint) {
  .heroTitle {
    font-size: 2rem;
  }
}

@media (min-width: $secondTitleBreakpoint) {
  .heroTitle {
    font-size: 2.2rem;
  }
}

@media (min-width: $thirdTitleBreakpoint) {
  .heroTitle {
    font-size: 2.4rem;
  }
}

@media (min-width: $fourthTitleBreakpoint) {
  .heroTitle {
    font-size: 2.6rem;
  }
}