@use '../../variables';

.signupBtn {
  composes: btn from '../../generic-components/Button.module.scss';

  width: 100%;
  max-width: 340px;

  padding: 1em 0;
}

.signupText {
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: .25px;

  margin: 0;
}

@media (min-width: variables.$exitMobileBreakpoint) {
  .signupBtn {
    width: initial;

    padding: 1.1em 4.75em;
  }

  .signupText {
    font-size: 1rem;
    font-weight: 600;
  }
}

@media (min-width: 1666px) {
  .signupBtn {
    padding: 1.5em 5.75em;
  }

  .signupText {
    font-size: 1.2rem;
  }
}