@use 'sass:list';
@use '../../mixins';
@use '../Home.module';

.signupBtn {
  font-size: inherit;

  display: none;

  background: none;
  border: solid 1px;
}

@media (min-width: Home.$exitMobileBreakpoint) {
  .signupBtn {
    display: inline-block;

    padding: .6em 2.3em;
  }
}

.signupBtn:focus,
.signupBtn:hover,
.signupBtn:active {
  background: none;
}

.signupText {
  @include mixins.dropShadowSmallText;
  font-size: 1rem;
  font-weight: 700;

  margin: 0;
}

@media (min-width: list.nth(Home.$largeScreenBreakpoints, 5)) {
  .signupBtn {
    padding: .7em 3.1em;
  }

  .signupText {
    font-size: 1.2rem;
  }
}