@use '../../mixins';

.loginBtn {
  composes: btn from '../../generic-components/Button.module.scss';

  background: none;
}

.loginBtn:focus,
.loginBtn:hover {
  background: none;
}

.loginBtn:active {
  background: none;
}

.loginText {
  @include mixins.dropShadowText;

  font-size: .95rem;
  font-weight: 400;

  margin: 0;
}