@use '../../mixins';

.heroBody {
  margin: 3.5em 0;
}

.heroTitle {
  @include mixins.dropShadowText;

  font-size: 1.85rem;
  font-weight: 600;
  line-height: 1.25;
  color: #fff;

  padding: 0 .3em;
  margin-bottom: 2.15rem;
}