@use 'sass:list';
@use '../../mixins';
@use '../Home.module';

.heroBody {
  margin: 3.25em 0;
}

@media (min-width: list.nth(Home.$largeScreenBreakpoints, 2)) {
  .heroBody {
    margin: 6em 0;
  }
}

.heroTitle {
  @include mixins.dropShadowLargeText;

  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #fff;

  margin-bottom: .96em;
}

@media (min-width: Home.$exitMobileBreakpoint) {
  .heroTitle {
    font-size: 2rem;

    margin-bottom: 2em;
  }
}

// After mobile breakpoint
$firstTitleGrowth: 392px;
$secondTitleGrowth: 474px;
$thirdTitleGrowth: 504px;
@media (min-width: $firstTitleGrowth) {
  .heroTitle {
    font-size: 2.2rem;
  }
}

@media (min-width: $secondTitleGrowth) {
  .heroTitle {
    font-size: 2.4rem;
  }
}

@media (min-width: $thirdTitleGrowth) {
  .heroTitle {
    font-size: 2.6rem;
  }
}

$heroTitleResizeBreakpoint: 680px;
@media (min-width: $heroTitleResizeBreakpoint) {
  .heroTitle {
    max-width: 75%;
  }
}

@media (min-width: list.nth(Home.$largeScreenBreakpoints, 2)) {
  .heroTitle {
    font-size: 2.8rem;
  }
}

@media (min-width: list.nth(Home.$largeScreenBreakpoints, 3)) {
  .heroTitle {
    font-size: 3rem;
  }
}

$heroTitleBreakpoints: (1270px, 1666px);

@media (min-width: list.nth($heroTitleBreakpoints, 1)) {
  .heroTitle {
    font-size: 3.5rem;

    max-width: 65%;
  }
}

@media (min-width: list.nth($heroTitleBreakpoints, 2)) {
  .heroTitle {
    font-size: 4rem;

    max-width: 55%;
  }
}