.heroSection {
  //height: 41vh; on large screen
  min-height: 67vh;

  background-image: url('../../../public/assets/img/hero.png');
  background-size: cover;
  background-position: center;
}

$exitMobileBreakpoint: 370px;
$heroTitleResizeBreakpoint: 566px;