@use '../../mixins';
@use '../Home.module';

.loginBtn {
  composes: btn from '../../generic-components/Button.module.scss';

  font-size: inherit;

  background: none;
}

.loginBtn:focus,
.loginBtn:hover {
  background: none;
}

.loginBtn:active {
  background: none;
}

.loginText {
  @include mixins.dropShadowSmallText;

  font-size: .85rem;
  font-weight: 400;
  letter-spacing: .65px;

  margin: 0;
}

@media (min-width: Home.$exitMobileBreakpoint) {
  .loginBtn {
    margin-left: 2.3em;
  }

  .loginText {
    @include mixins.dropShadowLargeText;

    font-size: .98rem;
  }
}