@use '../../variables';
@use '../../mixins';

.signupBtn {
  font-size: inherit;

  display: none;

  background: none;
  border: solid 1px;
}

@media (min-width: variables.$exitMobileBreakpoint) {
  .signupBtn {
    display: inline-block;

    padding: .6em 2.3em;
  }
}

.signupBtn:focus,
.signupBtn:hover,
.signupBtn:active {
  background: none;
}

.signupText {
  @include mixins.dropShadowSmallText;
  font-size: 1rem;
  font-weight: 700;

  margin: 0;
}