.signupBtn {
  width: 100%;
}

.signupText {
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: .25px;

  padding: .95em 0;
  margin: 0;
}

$firstBtnBreakpoint: 370px;
@media (min-width: $firstBtnBreakpoint) {
  .signupBtn {
    width: initial;
  }

  .signupText {
    padding: 1em 4.25em;
  }
}