@use '../../variables';

.signupBtn {
  width: 100%;
}

.signupText {
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: .25px;

  padding: 1em 0;
  margin: 0;
}

@media (min-width: variables.$exitMobileBreakpoint) {
  .signupBtn {
    width: initial;

    padding: 1em 2em;
  }

  .signupText {
    padding: 0;
  }
}