@use 'sass:list';
@use '../Home.module';

.heroSection {
  height: 30em;

  background-image: url('../../../public/assets/img/hero.png');
  background-size: cover;
  background-position: center;
}

@media (min-width: list.nth(Home.$largeScreenBreakpoints, 2)) {
  .heroSection {
    height: 36.5em;
  }
}

@media (min-width: list.nth(Home.$largeScreenBreakpoints, 5)) {
  .heroSection {
    height: 42.6em;
  }
}