@use '../../../variables';
@use '../../../mixins';

.text {
  @include mixins.clickable;

  font-weight: 600;
  text-transform: uppercase;
  color: variables.$accent-color;

  grid-row: 3;

  margin-top: 0;
}