@use '../../../variables';

$resizable: true;
.textarea {
  resize: if($resizable, vertical, none);

  outline: none;

  min-width: 100%;
  width: 180px;

  padding-right: 1em;
}

:export {
  resizable: $resizable;
}