.text {
  font-size: .9rem;

  padding: 0 2.5em;
  margin: 0;
}

.spacedText {
  display: inline-block;

  margin-right: .3em;
}

$footerBtnsBreakpoint: 350px;
@media (min-width: $footerBtnsBreakpoint) {
  .text {
    padding: 0 3.5em;
  }
}
