@use 'sass:list';
@use '../../variables';
@use '../Home.module';

$categoriesSectionBreakpoints: (42.5em);

.layout {
}

.categories {
  display: grid;
}

@media (min-width: list.nth(Home.$largeScreenBreakpoints, 4)) {
  .categories {
    grid-template: 1fr / repeat(3, 1fr);
  }
}