html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  font: inherit;
}

* {
  box-sizing: border-box;
}

/* For testing components */
/* TODO remove later */
.test-container > * {
  grid-column: 2 / -2;
}

.unstyledButton {
  padding: 0;
  background: none;
  border: none;
}

.unstyledUl {
  list-style: none;

  padding: 0;
}

.unstyledInput {
  padding: 0;
  background: none;
  border: none;
}
