@use 'variables';
@use 'mixins';

.inputSection {
  display: grid;
  grid-template-rows: 2em;
  grid-template-columns: max-content auto;
  grid-column-gap: 2em;
  align-items: center;

  padding: .75em .25em;

  border-bottom: solid variables.$line-color 2px;
}

.inputSection:not(.inputSection:last-child) {
  margin-bottom: 1em;
}

.icon {

}

.input {
  @include mixins.unstyledInput;

  color: variables.$dark-gray;

  outline: none;

  display: inline-block;

  height: 100%;
}