@mixin unstyledButton {
  padding: 0;
  background: none;
  border: none;
}

@mixin unstyledUl {
  list-style: none;

  padding: 0;
}

@mixin unstyledInput {
  outline: none;

  padding: 0;
  background: none;
  border: none;
}

@mixin unstyledDropdown {
  padding: 0;
  background: none;
  border: none;
}

@mixin clickable {
  cursor: pointer;
}

@mixin roundedCorners {
  border-radius: 15px;
}

@mixin dropShadowLargeText {
  text-shadow: 1px 1px 10px #000;
}

@mixin dropShadowSmallText {
  text-shadow: 1px 1px 1px #000;
}