@mixin unstyledButton {
  padding: 0;
  background: none;
  border: none;
}

@mixin unstyledUl {
  list-style: none;

  padding: 0;
}

@mixin unstyledInput {
  padding: 0;
  background: none;
  border: none;
}