@use 'variables';
@use 'Button.module';

$scale: 1;

.newRecipeContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: $scale * 1em;
  align-items: center;

  padding: $scale * .8rem $scale * 1.75rem;
}

$dimensions: $scale * 26px;
.newRecipeAdd {

  width: $dimensions;
  height: $dimensions;

  background: #fff;
  border-radius: 50%;
}

.newRecipeAdd::after {
  content: '+';

  font-size: $scale * 1.75rem;
  font-weight: 700;
  color: variables.$accent-color;

  display: inline-block;

  transform: translate(0, -$dimensions / 3.5);
}

.newRecipeAdd::after:focus,
.newRecipeAdd::after:hover {
  color: Button.$hover-color;
}

.newRecipeAdd::after:active {
  color: Button.$active-color;
}

.newRecipeText {
  font-size: $scale * 1rem;

  margin: 0;
}