@use 'variables';
@use 'Button.module';

.newRecipeContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.newRecipeAdd {
  //font-size: 2rem;
  color: variables.$accent-color;

  display: inline-block;

  background: #fff;
  border-radius: 50%;
}

.newRecipeAdd:focus,
.newRecipeAdd:hover {
  color: Button.$hover-color;
}

.newRecipeAdd:active {
  color: Button.$active-color;
}

.newRecipeText {
  margin: 0;
}